<!DOCTYPE html>
<html>
  <head>
    <title>DataDump</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='nav-bar'>
      <h5><%= link_to 'Home', root_path %></h5>
      <h5><%= link_to 'About', about_path %></h5>
      <h5><%= link_to 'Company', company_path %></h5>
      <h5><%= link_to 'Contact', contact_path %></h5>

    </div>
    <%= yield %>
  </body>
</html>
